<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title><%=typeof title == 'undefined' ? 'BookRating App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>


    <!--SCRIPTS-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/controllers.js"></script>
    <script src="/js/services/services.js"></script>
    <script src="/js/vendor/angular-animate/angular-animate.js"></script>
    <script src="/js/vendor/angular-animate/angular-animate.min.js"></script>
    <script src="/js/vendor/angular-animate/index.js"></script>
    <script src="/js/vendor/angular-aria/angular-aria.js"></script>
    <script src="/js/vendor/angular-aria/angular-aria.min.js"></script>
    <script src="/js/vendor/angular-aria/index.js"></script>
    <script src="/js/vendor/angular-material/angular-material-mocks.js"></script>
    <script src="/js/vendor/angular-material/angular-material.js"></script>
    <script src="/js/vendor/angular-material/angular-material.min.js"></script>
    <script src="/js/vendor/angular-material/index.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/autocomplete/autocomplete.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/autocomplete/autocomplete.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/backdrop/backdrop.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/backdrop/backdrop.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/bottomSheet/bottomSheet.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/bottomSheet/bottomSheet.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/button/button.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/button/button.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/card/card.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/card/card.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/checkbox/checkbox.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/checkbox/checkbox.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/chips/chips.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/chips/chips.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/colors/colors.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/colors/colors.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/content/content.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/content/content.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/core/core.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/core/core.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/core/default-theme.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/datepicker/datepicker.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/datepicker/datepicker.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/dialog/dialog.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/dialog/dialog.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/divider/divider.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/divider/divider.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/fabActions/fabActions.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/fabActions/fabActions.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/fabSpeedDial/fabSpeedDial.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/fabSpeedDial/fabSpeedDial.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/fabToolbar/fabToolbar.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/fabToolbar/fabToolbar.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/fabTrigger/fabTrigger.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/fabTrigger/fabTrigger.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/gridList/gridList.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/gridList/gridList.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/icon/icon.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/icon/icon.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/input/input.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/input/input.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/list/list.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/list/list.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/menu/menu.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/menu/menu.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/menuBar/menuBar.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/menuBar/menuBar.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/navBar/navBar.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/navBar/navBar.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/panel/panel.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/panel/panel.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/progressCircular/progressCircular.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/progressCircular/progressCircular.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/progressLinear/progressLinear.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/progressLinear/progressLinear.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/radioButton/radioButton.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/radioButton/radioButton.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/select/select.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/select/select.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/showHide/showHide.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/showHide/showHide.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/sidenav/sidenav.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/sidenav/sidenav.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/slider/slider.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/slider/slider.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/sticky/sticky.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/sticky/sticky.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/subheader/subheader.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/subheader/subheader.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/swipe/swipe.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/swipe/swipe.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/switch/switch.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/switch/switch.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/tabs/tabs.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/tabs/tabs.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/textField/textField.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/toast/toast.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/toast/toast.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/toolbar/toolbar.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/toolbar/toolbar.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/tooltip/tooltip.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/tooltip/tooltip.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/virtualRepeat/virtualRepeat.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/virtualRepeat/virtualRepeat.min.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/whiteframe/whiteframe.js"></script>
    <script src="/js/vendor/angular-material/modules/closure/whiteframe/whiteframe.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/autocomplete/autocomplete.js"></script>
    <script src="/js/vendor/angular-material/modules/js/autocomplete/autocomplete.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/backdrop/backdrop.js"></script>
    <script src="/js/vendor/angular-material/modules/js/backdrop/backdrop.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/bottomSheet/bottomSheet.js"></script>
    <script src="/js/vendor/angular-material/modules/js/bottomSheet/bottomSheet.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/button/button.js"></script>
    <script src="/js/vendor/angular-material/modules/js/button/button.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/card/card.js"></script>
    <script src="/js/vendor/angular-material/modules/js/card/card.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/checkbox/checkbox.js"></script>
    <script src="/js/vendor/angular-material/modules/js/checkbox/checkbox.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/chips/chips.js"></script>
    <script src="/js/vendor/angular-material/modules/js/chips/chips.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/colors/colors.js"></script>
    <script src="/js/vendor/angular-material/modules/js/colors/colors.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/content/content.js"></script>
    <script src="/js/vendor/angular-material/modules/js/content/content.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/core/core.js"></script>
    <script src="/js/vendor/angular-material/modules/js/core/core.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/core/default-theme.js"></script>
    <script src="/js/vendor/angular-material/modules/js/datepicker/datepicker.js"></script>
    <script src="/js/vendor/angular-material/modules/js/datepicker/datepicker.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/dialog/dialog.js"></script>
    <script src="/js/vendor/angular-material/modules/js/dialog/dialog.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/divider/divider.js"></script>
    <script src="/js/vendor/angular-material/modules/js/divider/divider.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/fabActions/fabActions.js"></script>
    <script src="/js/vendor/angular-material/modules/js/fabActions/fabActions.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/fabSpeedDial/fabSpeedDial.js"></script>
    <script src="/js/vendor/angular-material/modules/js/fabSpeedDial/fabSpeedDial.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/fabToolbar/fabToolbar.js"></script>
    <script src="/js/vendor/angular-material/modules/js/fabToolbar/fabToolbar.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/fabTrigger/fabTrigger.js"></script>
    <script src="/js/vendor/angular-material/modules/js/fabTrigger/fabTrigger.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/gridList/gridList.js"></script>
    <script src="/js/vendor/angular-material/modules/js/gridList/gridList.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/icon/icon.js"></script>
    <script src="/js/vendor/angular-material/modules/js/icon/icon.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/input/input.js"></script>
    <script src="/js/vendor/angular-material/modules/js/input/input.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/list/list.js"></script>
    <script src="/js/vendor/angular-material/modules/js/list/list.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/menu/menu.js"></script>
    <script src="/js/vendor/angular-material/modules/js/menu/menu.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/menuBar/menuBar.js"></script>
    <script src="/js/vendor/angular-material/modules/js/menuBar/menuBar.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/navBar/navBar.js"></script>
    <script src="/js/vendor/angular-material/modules/js/navBar/navBar.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/panel/panel.js"></script>
    <script src="/js/vendor/angular-material/modules/js/panel/panel.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/progressCircular/progressCircular.js"></script>
    <script src="/js/vendor/angular-material/modules/js/progressCircular/progressCircular.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/progressLinear/progressLinear.js"></script>
    <script src="/js/vendor/angular-material/modules/js/progressLinear/progressLinear.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/radioButton/radioButton.js"></script>
    <script src="/js/vendor/angular-material/modules/js/radioButton/radioButton.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/select/select.js"></script>
    <script src="/js/vendor/angular-material/modules/js/select/select.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/showHide/showHide.js"></script>
    <script src="/js/vendor/angular-material/modules/js/showHide/showHide.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/sidenav/sidenav.js"></script>
    <script src="/js/vendor/angular-material/modules/js/sidenav/sidenav.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/slider/slider.js"></script>
    <script src="/js/vendor/angular-material/modules/js/slider/slider.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/sticky/sticky.js"></script>
    <script src="/js/vendor/angular-material/modules/js/sticky/sticky.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/subheader/subheader.js"></script>
    <script src="/js/vendor/angular-material/modules/js/subheader/subheader.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/swipe/swipe.js"></script>
    <script src="/js/vendor/angular-material/modules/js/swipe/swipe.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/switch/switch.js"></script>
    <script src="/js/vendor/angular-material/modules/js/switch/switch.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/tabs/tabs.js"></script>
    <script src="/js/vendor/angular-material/modules/js/tabs/tabs.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/textField/textField.js"></script>
    <script src="/js/vendor/angular-material/modules/js/textField/textField.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/toast/toast.js"></script>
    <script src="/js/vendor/angular-material/modules/js/toast/toast.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/toolbar/toolbar.js"></script>
    <script src="/js/vendor/angular-material/modules/js/toolbar/toolbar.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/tooltip/tooltip.js"></script>
    <script src="/js/vendor/angular-material/modules/js/tooltip/tooltip.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/virtualRepeat/virtualRepeat.js"></script>
    <script src="/js/vendor/angular-material/modules/js/virtualRepeat/virtualRepeat.min.js"></script>
    <script src="/js/vendor/angular-material/modules/js/whiteframe/whiteframe.js"></script>
    <script src="/js/vendor/angular-material/modules/js/whiteframe/whiteframe.min.js"></script>
    <script src="/js/vendor/angular/angular-cookies.js"></script>
    <script src="/js/vendor/angular/angular-route.min.js"></script>
    <script src="/js/vendor/angular/angular-sanitize.js"></script>
    <script src="/js/vendor/angular/angular-storage.js"></script>
    <script src="/js/vendor/angular/angular.js"></script>
    <script src="/js/vendor/angular/angular.min.js"></script>
    <script src="/js/vendor/angular/ng-emoticons.min.js"></script>
    <script src="/js/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script src="/js/vendor/jquery/jquery-1.11.2.js"></script>
    <script src="/js/vendor/pure/ui.js"></script>
    <script src="/js/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="/js/vendor/uikit/modal.min.js"></script>
    <script src="/js/vendor/uikit/uikit.min.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
